<div id="<%= dom_id employee %>">
  <p>
    <strong>Nombres apellidos:</strong>
    <%= employee.nombres_apellidos %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= employee.telefono %>
  </p>

  <p>
    <strong>Celular:</strong>
    <%= employee.celular %>
  </p>

  <p>
    <strong>Tecnico:</strong>
    <%= employee.tecnico %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= employee.position %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= employee.email %>
  </p>

  <p>
    <strong>Cedula:</strong>
    <%= employee.cedula %>
  </p>

  <p>
    <strong>Ciudad:</strong>
    <%= employee.ciudad %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= employee.direccion %>
  </p>

</div>
