<div id="<%= dom_id asset %>">
  <p>
    <strong>Marca:</strong>
    <%= asset.marca %>
  </p>

  <p>
    <strong>Modelo:</strong>
    <%= asset.modelo %>
  </p>

  <p>
    <strong>Serial:</strong>
    <%= asset.serial %>
  </p>

  <p>
    <strong>Url factura:</strong>
    <%= asset.url_factura %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= asset.status_str %>
  </p>

  <p>
    <strong>Tecnologia dd1:</strong>
    <%= asset.tecnologia_DD1 %>
  </p>

  <p>
    <strong>Tecnologia dd2:</strong>
    <%= asset.tecnologia_DD2 %>
  </p>

  <p>
    <strong>Capacidad dd1:</strong>
    <%= asset.capacidad_DD1 %>
  </p>

  <p>
    <strong>Capacidad dd2:</strong>
    <%= asset.capacidad_DD2 %>
  </p>

  <p>
    <strong>Fecha inicio garantia:</strong>
    <%= asset.fecha_inicio_garantia %>
  </p>

  <p>
    <strong>Fecha fin garantia:</strong>
    <%= asset.fecha_fin_garantia %>
  </p>

  <p>
    <strong>Observaciones:</strong>
    <%= asset.observaciones %>
  </p>

  <p>
    <strong>Asset type:</strong>
    <%= asset.asset_type.nombre %>
  </p>

</div>
