<%= form_with(model: asset, url: asset.new_record? ? equipments_path : equipment_path) do |form| %>
  <% if asset.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(asset.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
        <% asset.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :marca, style: "display: block" %>
    <%= form.text_field :marca %>
  </div>

  <div>
    <%= form.label :modelo, style: "display: block" %>
    <%= form.text_field :modelo %>
  </div>

  <div>
    <%= form.label :serial, style: "display: block" %>
    <%= form.text_field :serial %>
  </div>

  <div>
    <%= form.label :url_factura, style: "display: block" %>
    <%= form.text_field :url_factura %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.select :status, options_for_select(@statuses, asset.status) %>
  </div>

  <div>
    <%= form.label :tecnologia_DD1, style: "display: block" %>
    <%= form.text_field :tecnologia_DD1 %>
  </div>

  <div>
    <%= form.label :tecnologia_DD2, style: "display: block" %>
    <%= form.text_field :tecnologia_DD2 %>
  </div>

  <div>
    <%= form.label :capacidad_DD1, style: "display: block" %>
    <%= form.text_field :capacidad_DD1 %>
  </div>

  <div>
    <%= form.label :capacidad_DD2, style: "display: block" %>
    <%= form.text_field :capacidad_DD2 %>
  </div>

  <div>
    <%= form.label :fecha_inicio_garantia, style: "display: block" %>
    <%= form.date_field :fecha_inicio_garantia %>
  </div>

  <div>
    <%= form.label :fecha_fin_garantia, style: "display: block" %>
    <%= form.date_field :fecha_fin_garantia %>
  </div>

  <div>
    <%= form.label :observaciones, style: "display: block" %>
    <%= form.text_area :observaciones %>
  </div>

  <div>
    <%= form.label :asset_type_id, style: "display: block" %>
    <%= form.select :asset_type_id, options_from_collection_for_select(@asset_types, 'id', 'nombre', asset.asset_type_id) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
