<p style="color: green"><%= notice %></p>

<h1>Assets</h1>

<div id="assets">
<table>
  <tr>
    <th>Marca</th>
    <th>Modelo</th>
    <th>Serial</th>
    <th>Status</th>
    <th></th>
  </tr>
  <% @assets.each do |asset| %>
    <tr>
      <td><%= asset.marca %></td>
      <td><%= asset.modelo %></td>
      <td><%= asset.serial %></td>
      <td><%= asset.status_str %></td>
    
      <td><%= link_to('Show', equipment_path(asset)) %>  <%= link_to('Edit', edit_equipment_path(asset)) %></td>
    </tr>
  <% end %>    
</table>
</div>
<%= link_to "New asset", new_equipment_path %>
