<p style="color: green"><%= notice %></p>

<%= render partial: '/equipments/asset', locals: {asset: @asset}  %>

<div>
  <%= link_to "Edit this asset", edit_equipment_path(@asset) %> |
  <%= link_to "Back to assets", equipments_path %>

  <%= button_to "Destroy this asset", equipment_path(@asset), method: :delete %>
</div>
