<p style="color: green"><%= notice %></p>

<h1>Asset types</h1>

<div id="asset_types">
<table>
  <tr>
    <th>Nombre</th>
    <th></th>
  </tr>
  <% @asset_types.each do |asset_type| %>
    <tr>
      <td><%= asset_type.nombre %></td>
      <td><%= link_to('Show', asset_type_path(asset_type)) %>  <%= link_to('Edit', edit_asset_type_path(asset_type)) %> <%= link_to "Destroy", asset_type, method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } unless asset_type.assets.any? %> </td>
    </tr>
  <% end %>
</table>  
</div>

<%= link_to "New asset type", new_asset_type_path %>