<div id="<%= dom_id working_order_purchase_element %>">
  <p>
    <strong>Working order:</strong>
    <%= working_order_purchase_element.working_order_id %>
  </p>

  <p>
    <strong>Nombre elemento:</strong>
    <%= working_order_purchase_element.nombre_elemento %>
  </p>

  <p>
    <strong>Cantidad:</strong>
    <%= working_order_purchase_element.cantidad %>
  </p>

  <p>
    <strong>Url compra:</strong>
    <%= working_order_purchase_element.url_compra %>
  </p>

  <p>
    <strong>Observaciones:</strong>
    <%= working_order_purchase_element.observaciones %>
  </p>

  <p>
    <strong>Comprado:</strong>
    <%= working_order_purchase_element.comprado %>
  </p>

  <p>
    <strong>Fecha solicitud:</strong>
    <%= working_order_purchase_element.fecha_solicitud %>
  </p>

  <p>
    <strong>Fecha compra:</strong>
    <%= working_order_purchase_element.fecha_compra %>
  </p>

</div>
