<div id="<%= dom_id delivery_collect_record %>">
  <p>
    <strong>Employee:</strong>
    <%= delivery_collect_record.employee_id %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= delivery_collect_record.fecha %>
  </p>

  <p>
    <strong>Is delivery:</strong>
    <%= delivery_collect_record.is_delivery %>
  </p>

  <p>
    <strong>Nombre recibe:</strong>
    <%= delivery_collect_record.nombre_recibe %>
  </p>

  <p>
    <strong>Nombre devuelve:</strong>
    <%= delivery_collect_record.nombre_devuelve %>
  </p>

  <p>
    <strong>Devolucion observaciones:</strong>
    <%= delivery_collect_record.devolucion_observaciones %>
  </p>

  <p>
    <strong>Devolucion estado equipo:</strong>
    <%= delivery_collect_record.devolucion_estado_equipo %>
  </p>

</div>
