<%= form_with(model: delivery_collect_record, url: employee_delivery_collect_records_path(delivery_collect_record.employee_id) ) do |form| %>
  <% if delivery_collect_record.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(delivery_collect_record.errors.count, "error") %> prohibited this delivery_collect_record from being saved:</h2>

      <ul>
        <% delivery_collect_record.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= label_tag('employee_name', 'Nombre del Empleado', style: "display: block")  %>
    <%= @employee.nombres_apellidos %>
  </div>

  <div>
    <%= form.label :fecha, style: "display: block" %>
    <%= form.date_field :fecha %>
  </div>

  <div data-controller="delivery-collect-record" >
    <%= form.label :is_delivery, 'Es una entrega?', style: "display: block" %>
    <%= form.check_box :is_delivery, data: { action: 'change->delivery-collect-record#enable_disable' } %>
  </div>

  <div>
    <%= form.label :nombre_recibe, style: "display: block" %>
    <%= form.text_field :nombre_recibe, disabled: !delivery_collect_record.is_delivery %>
  </div>

  <div>
    <%= form.label :nombre_devuelve, style: "display: block" %>
    <%= form.text_field :nombre_devuelve, disabled: delivery_collect_record.is_delivery %>
  </div>

  <div>
    <%= form.label :devolucion_observaciones, style: "display: block" %>
    <%= form.text_area :devolucion_observaciones, disabled: delivery_collect_record.is_delivery %>
  </div>

  <div>
    <%= form.label :devolucion_estado_equipo, style: "display: block" %>
    <%= form.text_area :devolucion_estado_equipo, disabled: delivery_collect_record.is_delivery %>
  </div>
  <div>
    <%= form.hidden_field :employee_id %>
  </div>
  <div>
    <%= form.hidden_field :delivery_collect_record_assets_attributes %>
    <%= form.submit %>
  </div>
<% end %>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#assets-modal">
  Agregar activos
</button>
<div id="asset_list">
  <table>
  <thead>
    <tr>
      <th>id</th>
      <th>nombre</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="asset_list_items">
    <% @employee_assets.each do |d_c_r_a| %>
      <tr>
        <td><%= d_c_r_a.asset.id %></td>
        <td><%= d_c_r_a.asset.marca_modelo %></td>
        <td></td>
      </tr>
    <% end %>  
  </tbody>
  </table>
</div>
<div id="assets-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar Activos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <%= select_tag 'asset', options_from_collection_for_select(Asset.all, 'id', 'marca_modelo') %>
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer" data-controller="delivery-collect-record">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-action="click->delivery-collect-record#adding_assets">Save changes</button>
      </div>
    </div>
  </div>
</div>
  