<%= form_with(model: delivery_collect_record, url: employee_delivery_collect_records_path(delivery_collect_record.employee_id) ) do |form| %>
  <% if delivery_collect_record.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(delivery_collect_record.errors.count, "error") %> prohibited this delivery_collect_record from being saved:</h2>

      <ul>
        <% delivery_collect_record.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= label_tag('employee_name', 'Nombre del Empleado', style: "display: block")  %>
    <%= @employee.nombres_apellidos %>
  </div>

  <div>
    <%= form.label :fecha, style: "display: block" %>
    <%= form.date_field :fecha %>
  </div>

  <div data-controller="delivery-collect-record" >
    <%= form.label :is_delivery, 'Es una entrega?', style: "display: block" %>
    <%= form.check_box :is_delivery, data: { action: 'change->delivery-collect-record#enable_disable' } %>
  </div>

  <div>
    <%= form.label :nombre_recibe, style: "display: block" %>
    <%= form.text_field :nombre_recibe, disabled: !delivery_collect_record.is_delivery %>
  </div>

  <div>
    <%= form.label :nombre_devuelve, style: "display: block" %>
    <%= form.text_field :nombre_devuelve, disabled: delivery_collect_record.is_delivery %>
  </div>

  <div>
    <%= form.label :devolucion_observaciones, style: "display: block" %>
    <%= form.text_area :devolucion_observaciones, disabled: delivery_collect_record.is_delivery %>
  </div>

  <div>
    <%= form.label :devolucion_estado_equipo, style: "display: block" %>
    <%= form.text_area :devolucion_estado_equipo, disabled: delivery_collect_record.is_delivery %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>
<div id="exampleModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>