<div id="<%= dom_id working_order %>">
  <p>
    <strong>Asset:</strong>
    <%= working_order.asset_id %>
  </p>

  <p>
    <strong>Fecha hora apertura:</strong>
    <%= working_order.fecha_hora_apertura %>
  </p>

  <p>
    <strong>Fecha hora cierre:</strong>
    <%= working_order.fecha_hora_cierre %>
  </p>

  <p>
    <strong>Id empleado tecnico:</strong>
    <%= working_order.id_empleado_tecnico %>
  </p>

  <p>
    <strong>Diagnostico notas:</strong>
    <%= working_order.diagnostico_notas %>
  </p>

  <p>
    <strong>Url imagenes:</strong>
    <%= working_order.url_imagenes %>
  </p>

</div>
