<%= form_with(model: working_order_activity) do |form| %>
  <% if working_order_activity.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(working_order_activity.errors.count, "error") %> prohibited this working_order_activity from being saved:</h2>

      <ul>
        <% working_order_activity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :working_order_id, style: "display: block" %>
    <%= form.text_field :working_order_id %>
  </div>

  <div>
    <%= form.label :observaciones, style: "display: block" %>
    <%= form.text_area :observaciones %>
  </div>

  <div>
    <%= form.label :id_orden_servicio, style: "display: block" %>
    <%= form.text_field :id_orden_servicio %>
  </div>

  <div>
    <%= form.label :fecha_hora, style: "display: block" %>
    <%= form.datetime_field :fecha_hora %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
