<div id="<%= dom_id working_order_activity %>">
  <p>
    <strong>Working order:</strong>
    <%= working_order_activity.working_order_id %>
  </p>

  <p>
    <strong>Observaciones:</strong>
    <%= working_order_activity.observaciones %>
  </p>

  <p>
    <strong>Id orden servicio:</strong>
    <%= working_order_activity.id_orden_servicio %>
  </p>

  <p>
    <strong>Fecha hora:</strong>
    <%= working_order_activity.fecha_hora %>
  </p>

</div>
